$vd-accent-color: #12c2e9 !default;
$vd-bg-color: #fbfbfb !default;

$vd-dot-color: #bbb !default;
$vd-dot-size: 2px !default;
$vd-dot-space: 22px !default;

$vd-node-bg-color: white !default;
$vd-node-box-shadow-color: #ccc !default;
$vd-node-box-shadow: 0 0 4px 0 $vd-node-box-shadow-color !default;


.vd__container {
	background: linear-gradient(90deg, $vd-bg-color ($vd-dot-space - $vd-dot-size), transparent 1%) center, linear-gradient($vd-bg-color ($vd-dot-space - $vd-dot-size), transparent 1%) center, $vd-dot-color;
	background-size: $vd-dot-space $vd-dot-space;

	margin: 0;
	position: relative;
	overflow: hidden;
	height: 100%;
}

.vd__node {
	width: 15rem;
	height: 5rem;
	background: $vd-node-bg-color;
	box-shadow: $vd-node-box-shadow;

	cursor: move;
	position: absolute;
	transform-origin: top left;

	.vd__node__link {
		width: .5rem;
		height: .5rem;
		position: absolute;
		border: .1rem solid $vd-accent-color;
		border-radius: 50%;
		cursor: pointer;
		visibility: hidden;

		&:hover {
			background: $vd-accent-color;
		}

		&--top {
			top: -.4rem;
			left: 7.25rem;
		}
		&--right {
			right: -.4rem;
			top: 2.25rem;
		}
		&--bottom {
			bottom: -.4rem;
			left: 7.25rem;
		}
		&--left {
			left: -.4rem;
			top: 2.25rem;
		}
	} 

	&:hover {
		.vd__node__link {
			visibility: visible;
		}
	}

	.vd__node__default-content {
		text-align: center;
		padding-top: 2rem;
	}
}